# Python
*.py[cod]
__pycache__/
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Django
*.log
*.pot
*.pyc
db.sqlite3
media/
staticfiles/

# Environment variables
.env
.env.*

# IDE
.idea/
.vscode/
*.swp
*.swo
*.swn
.DS_Store

# Local development
local_settings.py

# Local Netlify folder
.netlify
